/*sidebar*/

.layout {
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: #001845;
  overflow: hidden;
}
/*fundo da pagina*/
.conteudo {
  flex: 1;
  padding: 2rem 3rem;
  background: linear-gradient(135deg, #1e3a8a 0%, #2563eb 100%);
  position: relative;
  overflow-y: auto;
}