.layout {
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: #001845;
  overflow: hidden;
}

.conteudo {
  flex: 1;
  padding: 2rem;
  background: linear-gradient(145deg, #2563eb, #1d4ed8);
  border-top-left-radius: 28px;
  border-bottom-left-radius: 28px;
  overflow-y: auto;
}
