.Logo {
  position: absolute;
  top: 47%;
  left: 53%;
  transform: translate(-50%, -50%);
  opacity: 0.3;
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pequeno {
  width: 10rem;
  height: 10rem;
}
.medio {
  width: 15rem;
  height: 15rem;
}
.grande {
  width: 25rem;
  height: 25rem;
}
.imagemLogo {
  width: 100%;
  height: 100%;
  object-fit: contain;
}


